<section class="section-bg p0 section-customblue data-height-fix">

    <div class="row col-p0">
        <div class="col-sm-6 hidden-xs">
            <div class="box-services-d p0 bg-img kitty-home">
                <div class="bg-overlay"></div>
                <div class="set-height"></div>
            </div>
        </div>
    </div>

    <div class="section-caption">
        <div class="container">
            <div class="row col-p0">
                <div class="col-sm-5 col-sm-offset-7 get-height">
                    <div class="mb50 mt50">
                        <h3 class="title-medium color-white">About us</h3>
                        <div class="br-bottom mb20 color-white"></div>
                        <p class="mb50 color-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste sunt cupiditate asperiores atque consectetur reiciendis, ex voluptate! Atque distinctio, illum minus consectetur quae explicabo eveniet dolorum voluptatum excepturi autem illo, laudantium iusto itaque vero.</p>
                        <h3 class="title-small color-white"><i class="fa-style5 icon_heart_alt mr10"></i> Happy Clients</h3>
                        <p class="mb0 color-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis explicabo inventore, nisi sint consectetur distinctio! Asperiores totam dolorum, odio ex?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>